.container{
    margin-top: 50px;
    height: 350px;
    width: 550px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #8CA5CB;
    padding: 10px;
}

.container:hover{
    border: 2px solid darkgrey;
    outline: 5px solid darkgray;    
}

.container .containerItem{
    text-align: center;
    margin-bottom: 20px; 
}
.container img{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.spacing{
    margin: 15px;
}
.btn{
    border: 1px solid black;
}
.btn:hover{
    background-color: #8BA9FB;
}